*{
    padding: 0;
    margin:0;
    /*border:1px red solid;*/
}

html,body{
    height: 100%;
}

body{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

a{
    text-decoration: none;
    font-size: 2em;
    color:black;
    visibility: hidden;
    border:1px black dotted;
    width: 14em;
    height: 10em;
}

div a{
	visibility:visible;
	
}

.imgpeque{
	width:7em;
	height:3em;
}



a img{
    width: 14em;
    height: 10em;
}
