*{
    padding: 0;
    margin:0;
    /*border:1px red solid;*/
}

.principal{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

html,body{
    height: 100%;
    color:white;
}

html{
    background-color: rgba(0, 0, 0, 0.493);
    background-image: url("fondo/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.pregunta{
    text-align: center;
}

.challenge{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 100%;
}

.imagenes{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 80%;
    height: 14em;
    margin-bottom: 1em;
    margin-top: 2em;
}


header{
    width: 100%;
}

.contador{
    margin-top: 1em;
    margin-left: auto;
    margin-right: 1em;
    width:10%;
}
